body {
  font-family: 'Roboto', sans-serif; }

.sf-container {
  padding-top: 80px; }

.navbar {
  border-radius: 0; }

.nav > li > a > img {
  width: 30px;
  height: 30px;
  border: 2px solid #ffffff; }

#navbar-right-dropdown {
  padding: 10px; }

#navbar-right-dropdown:hover {
  animation: pulse 1s;
  -webkit-animation: pulse 1s;
  -moz-animation: pulse 1s; }

.badge-not-zero {
  background-color: #E74C3C;
  color: #ffffff;
  animation: pulse 1s infinite;
  -webkit-animation: pulse 1s infinite;
  -moz-animation: pulse 1s infinite; }

#share-link {
  padding-top: 8px; }
  #share-link a {
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
    padding: 6px;
    background-color: #E74C3C;
    border-radius: 4px; }
  #share-link a:hover {
    animation: tada 1s;
    -webkit-animation: tada 1s;
    -moz-animation: tada 1s; }

.form-control {
  height: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 15px;
  padding-right: 23px; }

.btn {
  padding: 8px 12px; }

.modal-header {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  font-style: italic; }

.modal-dialog {
  width: 500px;
  margin-top: 200px; }

.modal-body {
  padding-bottom: 5px;
  background-color: #ECF0F1; }
  .modal-body .form-group {
    margin-bottom: 5px; }

.modal-footer {
  padding-top: 5px;
  padding-bottom: 10px;
  border: none;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: #ECF0F1;
  text-align: left; }
  .modal-footer #share-link {
    background-color: #1ABC9C;
    border-radius: 4px;
    color: #ffffff;
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: 14px; }

#create-action-list {
  margin-bottom: 0;
  margin-left: 5px;
  position: relative; }
  #create-action-list li {
    position: relative;
    padding: 0;
    cursor: pointer;
    margin-right: 5px;
    border: 1px solid #ECF0F1;
    border-radius: 5px; }
    #create-action-list li a {
      display: block;
      padding: 8px 10px;
      font-size: 13px;
      font-weight: 300;
      color: #34495E;
      cursor: pointer; }
      #create-action-list li a .fa {
        font-size: 16px;
        padding-right: 5px; }
  #create-action-list li:hover {
    border-color: #7F8C8D; }
  #create-action-list li:last-child {
    position: absolute;
    right: 10px;
    border: none; }

/**** create feed selector ****/
.attach-selector {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  overflow: hidden; }
  .attach-selector input {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0); }

.attach-wrap {
  background-color: #ECF0F1;
  position: relative; }
  .attach-wrap .list-inline {
    margin: 0;
    padding: 5px 5px 8px 15px; }
  .attach-wrap li img {
    height: 90px; }
  .attach-wrap p {
    margin: 0;
    padding: 5px 5px 8px 15px; }
  .attach-wrap #cancel-attach-link {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 26px;
    line-height: 1;
    color: #E74C3C; }

.auth-wrap {
  width: 716px;
  height: 455px;
  margin: 200px auto;
  background: url('../images/bg-auth.jpg');
  text-align: center;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0 -5px 8px rgba(0, 0, 0, 0.3);
  z-index: 1;
  color: #ffffff; }

.sf-authform-wrap {
  width: 270px;
  margin: 15px auto; }

.sf-card {
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 5px; }

/***** user card *****/
.user-card-banner {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative; }
  .user-card-banner img {
    height: 150px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .user-card-banner .user-setting-link {
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 20px;
    line-height: 1;
    color: #ffffff; }

.user-card-info {
  position: relative; }
  .user-card-info img {
    width: 80px;
    height: 80px;
    border: 3px solid #ffffff;
    margin-top: -25px;
    margin-left: 20px; }
  .user-card-info .user-info-wrap {
    position: absolute;
    top: 30px;
    left: 110px; }
    .user-card-info .user-info-wrap .user-name a {
      font-size: 20px;
      font-weight: 400;
      line-height: 26px;
      color: #7F8C8D; }
    .user-card-info .user-info-wrap .user-gender-location i {
      font-size: 16px;
      padding-right: 4px; }
    .user-card-info .user-info-wrap .user-gender-location i.fa-user {
      color: #3498DB; }
    .user-card-info .user-info-wrap .user-gender-location i.fa-map-marker {
      color: #E74C3C; }
    .user-card-info .user-info-wrap .user-gender-location span {
      padding-right: 8px;
      font-size: 13px;
      font-weight: 400;
      color: #BDC3C7; }
  .user-card-info .user-profile {
    padding-left: 42px;
    padding-right: 15px;
    margin-top: 8px;
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    color: #BDC3C7; }
  .user-card-info ul {
    margin: 0;
    background-color: #ECF0F1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
    .user-card-info ul li {
      padding: 0;
      width: 32%; }
      .user-card-info ul li a {
        display: block;
        text-align: center;
        padding-top: 3px;
        padding-bottom: 3px;
        color: #7F8C8D; }
        .user-card-info ul li a span {
          display: block; }
        .user-card-info ul li a .user-feed-count {
          font-size: 15px;
          font-weight: 500; }
        .user-card-info ul li a .user-feed-title {
          font-size: 13px;
          font-weight: 300; }
    .user-card-info ul li:nth-child(2) {
      border-left: 1px solid #ECF0F1;
      border-right: 1px solid #ECF0F1; }

/******* feed style ******/
.sf-feed-wrap {
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 20px; }

.sf-feed-wrap:hover {
  cursor: pointer;
  background-color: #ECF0F1; }

.feed-attach-wrap {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  min-height: 253px;
  max-height: 315px;
  overflow: hidden; }
  .feed-attach-wrap img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: zoom-in;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in; }

.feed-author-top {
  position: relative; }
  .feed-author-top a {
    display: block;
    width: 50px; }
  .feed-author-top img {
    width: 50px;
    height: 50px; }
  .feed-author-top .feed-author-info {
    position: absolute;
    top: 5px;
    left: 60px; }
    .feed-author-top .feed-author-info .author-name a {
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      color: #34495E; }
    .feed-author-top .feed-author-info .feed-time {
      font-size: 12px;
      font-weight: 300;
      color: #7F8C8D; }

.td-error {
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  color: #E74C3C;
  margin-top: 5px;
  margin-bottom: 5px; }

.td-success {
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  color: #1ABC9C;
  margin-top: 5px;
  margin-bottom: 5px; }

.spinner-wrap {
  position: fixed;
  height: 80px;
  width: 80px;
  top: 40%;
  left: 50%;
  margin-left: -40px;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 3000;
  border-radius: 50%;
  display: none; }

.spinner-show {
  display: block;
  -webkit-animation: bounceInDown 0.5s;
  animation: bounceInDown 0.5s; }

.spinner-wrap img {
  margin: 21px 0 0 21px;
  -webkit-animation: loading 2s linear;
  animation: loading 2s linear;
  animation-fill-mode: forwords;
  -webkit-animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

@-webkit-keyframes loading {
  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-ms-keyframes loading {
  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loading {
  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.form-wrap {
  padding-left: 10px;
  padding-right: 50px; }

/*** setting ****/
.setting-list-body {
  padding: 0; }
  .setting-list-body ul {
    margin-bottom: 30px; }
  .setting-list-body li {
    border-bottom: 1px solid #ECF0F1; }
    .setting-list-body li a {
      display: block;
      width: 100%;
      height: 44px;
      font-size: 13px;
      font-weight: 500;
      line-height: 44px;
      padding-left: 15px;
      color: #34495E;
      transition: all 1.5s linear;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      text-decoration: none; }
      .setting-list-body li a i {
        float: right;
        padding-right: 10px;
        line-height: 44px;
        font-size: 14px; }
    .setting-list-body li a:hover, .setting-list-body li a.active {
      padding-left: 25px;
      background-color: #34495E;
      color: #ffffff;
      border-left: 6px solid #E67E22; }

#image-container {
  width: 100%; }

.action-button-wrap {
  margin-top: 20px; }
  .action-button-wrap .select-button {
    position: relative;
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    z-index: 1200;
    text-align: center;
    border-radius: 5px;
    background-color: #1ABC9C;
    color: #ffffff;
    line-height: 44px; }
    .action-button-wrap .select-button input {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      z-index: 1300;
      opacity: 0;
      filter: alpha(opacity=0);
      cursor: pointer; }

.welcome-wrap, .login-wrap, .forget-wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../images/welcome-bg.jpg');
  overflow: scroll; }

.home-wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #cccccc;
  overflow-x: hidden; }

.forget-link {
  padding-top: 10px;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color: #bdc3c7;
  text-decoration: underline; }

.login-wrap-inner, .forget-wrap-inner {
  width: 270px;
  background-color: #edeff1;
  border-radius: 4px;
  margin: 100px auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  box-shadow: 0 -5px 8px rgba(0, 0, 0, 0.3); }

.sf-form {
  padding: 10px 25px; }

.sf-form .login-field-icon {
  float: right;
  margin-top: -27px;
  margin-right: 10px; }

.sf-form .login-field {
  font-size: 14px; }

.close-wrap {
  float: right;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 20px; }

.close-wrap a {
  color: #34495E; }

.login-top-banner {
  position: relative;
  height: 70px;
  margin-bottom: 15px; }

.login-top-banner img {
  width: 60px;
  height: 60px;
  border: 2px solid #ffffff;
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -25px; }

.other-auth-login {
  margin-top: 15px; }

.other-auth-title {
  font-size: 14px;
  margin-bottom: 10px; }

.third-auth-item {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #ffffff;
  line-height: 40px; }

.third-auth-weibo {
  background-color: #E74C3C; }

.third-auth-qq {
  background-color: #3498DB; }

.third-auth-weixin {
  background-color: #2ECC71; }

.forget-tip {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 300;
  color: #95A5A6; }

.feed-wrap {
  margin-top: 20px;
  border-radius: 5px;
  background-color: #ffffff; }

.feed-inner {
  padding-bottom: 15px; }

.feed-content-wrap {
  padding: 10px 10px 15px 10px; }

.photo-wrap {
  padding-left: 10px;
  padding-right: 10px; }

.author-wrap {
  position: relative; }

.author-avatar-wrap {
  width: 40px;
  height: 40px; }

.author-name-wrap {
  position: absolute;
  left: 60px;
  top: 0; }

.author-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; }

.post-time {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px; }

.feed-content {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
  padding-left: 5px; }

.like-comment-wrap {
  width: 100%;
  margin-top: 5px;
  padding-left: 8px; }

.like-inner {
  padding-left: 10px; }

.like-inner a {
  color: #34495e; }

.like-inner a.comment-link {
  padding-left: 15px; }

.like-count, .comment-count {
  font-size: 12px;
  padding-left: 5px; }

.like-comment-wrap ul {
  padding-right: 15px;
  padding-top: 4px;
  margin-bottom: 0; }

.like-comment-wrap ul li {
  padding-left: 0; }

.like-comment-wrap li img {
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff; }

/****** user page ******/
/*body {
  background-color: #ffffff;
}*/
.user-top-banner {
  height: 450px;
  position: relative; }

.user-top-banner img {
  height: 450px;
  width: 100%; }

.banner-blur-wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 450px;
  width: 100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0); }

.banner-blur-wrap img {
  height: 450px;
  width: 100%; }

.top-action-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px; }

.brand-wrap a {
  font-size: 24px;
  font-weight: 400;
  color: #ffffff; }

.setting-wrap a {
  display: block;
  float: right;
  width: 120px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  padding: 5px 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff; }

.setting-wrap a:hover {
  border-color: #E74C3C;
  background-color: #E74C3C; }

.user-info {
  width: 440px;
  margin: 0 auto;
  text-align: center;
  margin-top: -77px; }

.user-info .avatar-wrap {
  height: 150px;
  position: relative; }
  .user-info .avatar-wrap .avatar-wrap-inner {
    position: absolute;
    left: 50%;
    padding: 2px;
    margin-left: -67px;
    background-color: #ffffff;
    border-radius: 100%;
    border: 1px solid #BDC3C7; }
    .user-info .avatar-wrap .avatar-wrap-inner img {
      border: none;
      height: 130px;
      width: 130px;
      padding: 0;
      margin: 0; }

.user-info h1 {
  margin-top: 10px; }

.user-info p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  color: #7F8C8D;
  margin-bottom: 40px; }

.list-inline > li.user-menu-item {
  width: 110px;
  padding-left: 15px;
  padding-right: 15px; }

.user-menu-item:nth-child(2) {
  border-left: 1px solid #ECF0F1;
  border-right: 1px solid #ECF0F1; }

.user-menu-item a {
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #2C3E50; }

.user-menu-item a small {
  display: block;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  color: #BDC3C7; }

.user-divider {
  position: relative;
  margin-top: 50px;
  text-align: center; }

.user-divider:before {
  display: block;
  content: "";
  width: 100%;
  top: 17px;
  position: absolute;
  border-bottom: 1px solid #ccc; }

.user-divider a {
  display: inline-block;
  background-color: #ffffff;
  padding: 3px 10px;
  border: 1px solid #ccc;
  font-size: 13px;
  font-weight: 300;
  color: #34495E;
  position: relative;
  text-transform: uppercase; }

.user-feeds-wrap {
  margin-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 30px; }

.sf-user-feed-item {
  border-radius: 5px; }
  .sf-user-feed-item .feed-content-wrap:hover {
    background-color: #ffffff; }
  .sf-user-feed-item .feed-action-wrap {
    margin-top: 15px; }

.user-feed-attach-wrap {
  min-height: 253px;
  max-height: 315px;
  overflow: hidden;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px; }
  .user-feed-attach-wrap img {
    width: 100%;
    cursor: zoom-in;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in; }

.user-feed-item {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px; }

.user-feed-item:last-child {
  border-bottom: none; }

.user-photo-wrap img {
  height: 140px; }

.content-wrap {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 15px;
  color: #7F8C8D; }

.user-content-wrap {
  background-color: #ECF0F1; }

.sf-user-middle {
  border-radius: 5px; }
