<div class="sf-wrap">
  <div class="home-wrap">
    <div ng-include="'views/partials/navbar.html'"></div>
    <div class="sf-content">
      <div class="container sf-container">
        <div class="row">
          <div class="col-md-3 sf-left-wrap">
            <div ng-include="'views/partials/user-card.html'"></div>
          </div>
          <div class="col-md-6 sf-mid-wrap">
            <div ng-include="'views/partials/feed-detail-info.html'"></div>
          </div>
          <div class="col-md-3 sf-right-wrap">

          </div>
        </div>
      </div>
    </div>
    <div ng-include="'views/partials/create-modal.html'"></div>
  </div>
</div>