<div class="sf-wrap">
  <div class="home-wrap sf-container">
    <div class="sf-overlay" ng-class="{active: userInfoState}" ng-click="hideUserInfo()">
    </div>
    <div ng-include="'views/partials/sidebar.html'"></div>
    <div class="shrinkwrap" ng-class="{shrunk: userInfoState}">
      <div class="detail-container">
        <img ng-src="{{feed.author.banner}}" class="timeline-bg">
        <div class="timeline-overlay"></div>
        <div class="topbanner-action">
          <div class="topbanner-action-inner">
            <a class="sidebar-toggle icon-menu" ng-click="showUserInfo()"></a>
            <a ui-sref="messages" class="icon-bell"><span class="badge user-notification" ng-if="user.notification.length">{{user.notification.length}}</span></a>
            <a ui-sref="search" class="icon-search"></a>
          </div>
        </div>
        <div class="detail-content">
          <div ng-include="'views/partials/feed-detail-info.html'"></div>
        </div>
      </div>
    </div>
  </div>
</div>