<div class="sf-body">
  <div ng-include="'views/partials/sidebar.html'"></div>
  <div class="sf-overlay" ng-class="{active: userInfoState}" ng-click="hideUserInfo()"></div>
  <div class="sf-container" ng-class="{shrunk: userInfoState}">
    <div class="sf-container-inner">
      <div ng-include="'views/partials/navbar.html'"></div>
      <div class="sf-content follow-content">
        <div class="sf-feed-wrap">
          <header class="feed-list-header">
            <h2>{{user.username}}</h2>
            <p>All the followers!</p>
          </header>
          <div class="follow-wrap">
            <div class="follow-content" masonry masonry-options="{itemSelector: '.followitem', columnWidth: '.follow-sizer', gutter: 30}">
              <article ng-repeat="following in user.followings" class="followitem masonry-brick">
                <div class="follow-card">
                  <div class="follow-card-left">
                    <img ng-src="{{following.avatar}}">
                    <section>
                      <div class="follow-button">
                        <span>Follow</span>
                      </div>
                    </section>
                  </div>
                  <div class="follow-card-right">
                    <h2>{{following.username}}</h2>
                    <p>
                      <i class="icon-head"></i><span>{{following.gender}}</span>
                      <i class="icon-map-marker"></i><span>{{following.location}}</span>
                    </p>
                    <p class="profile">{{following.profile}}</p>
                  </div>
                </div>
              </article>
              <article class="follow-sizer"></article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>