<div class="user-divider">
  <a ui-sref="user({name: user.username})">{{user.username}}'s Followings</a>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3" ng-repeat="following in user.followings">
      <div class="follow-wrap">
        <div class="follow-avatar">
          <img ng-src="{{following.avatar}}" class="img-responsive img-circle">
        </div>
        <div class="follow-info">
          <h4>{{following.username}}</h4>
          <button class="btn btn-success" ng-if="(user._id === cuser._id) && (cuser.followers.indexOf(following._id) === -1)" ng-click="submitfollow(following)">加入关注</button>
          <button class="btn btn-danger" ng-if="(user._id === cuser._id) && (cuser.followers.indexOf(following._id) !== -1)" ng-click="submitUnfollow(following)">取消关注</button>
          <p>{{following.profile}}</p>
        </div>
      </div>
    </div>
  </div>
</div>