<div class="sf-wrap">
    <div class="sf-container forget-container">
        <div class="forget-inner animated bounceInDown">
            <div class="close-wrap">
                <a ui-sref="login" class="icon-cross"></a>
            </div>
            <div class="sf-form-container">
                <form novalidate name="forgetForm" class="login-form" ng-submit="submitforgetForm(user)">
                    <div class="form-group">
                        <input type="email" class="form-control login-field" ng-model="user.email" placeholder="Your Email" required>
                        <label for="login-email" class="login-field-icon icon-envelope"></label>
                    </div>
                    <button class="btn btn-block btn-success" type="submit" ng-disabled="forgetForm.$invalid">Submit</button>
                    <p class="td-success animated zoomIn" ng-show="isSucceed">{{successMessage}}</p>
                    <p class="td-error animated zoomIn" ng-show="hasError">{{errorMessage}}</p>
                </form>
            </div>
        </div>
        <div ng-include="'views/partials/spinner.html'"></div>
    </div>
</div>
