<div class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" id="create-feed-modal" ng-controller="CreateFeedController">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Yo Showfie</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <textarea class="form-control" rows="4" placeholder="what's new..." ng-model="feed.content"></textarea>
        </div>
      </div>
      <div class="attach-wrap" ng-show="selectedFiles != null">
        <ul class="list-inline" ng-if="dataUrls.length > 0">
          <li ng-repeat="f in selectedFiles">
            <img ng-src="{{dataUrls[$index]}}" alt="" ng-show="dataUrls[$index]" class="img-responsive img-rounded">
          </li>
        </ul>
        <div class="attach-info-wrap" ng-if="!dataUrls || dataUrls.length <= 0">
          <p ng-repeat="f in selectedFiles">{{f.name}}</p>
        </div>
        <a ng-click="cancelAttach()" id="cancel-attach-link"><i class="fa fa-close"></i></a>
      </div>
      <div class="modal-footer">
        <ul class="list-inline" id="create-action-list">
          <li>
            <a><i class="fa fa-camera"></i>photo
            </a>
            <div class="attach-selector">
              <input type="file" ng-file-select="onImageSelect($files)" accept="image/*"
              ng-disabled="photoDisable">
            </div>
          </li>
          <li>
            <a><i class="fa fa-video-camera"></i>video</a>
            <div class="attach-selector">
              <input type="file" ng-file-select="onVideoSelect($files)" accept="video/*"
              ng-disabled="videoDisable">
            </div>
          </li>
          <li>
            <a><i class="fa fa-microphone"></i>audio</a>
            <div class="attach-selector">
              <input type="file" ng-file-select="onAudioSelect($files)" accept="audio/*"
              ng-disabled="audioDisable">
            </div>
          </li>
          <li>
            <button id="share-link" ng-click="submitNewFeed(feed)" ng-disabled=" (!feed.content && !hasAttachment)">
              <i class="fa fa-share-square-o"></i>
              Share
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div ng-include="'views/partials/spinner.html'"></div>
</div>