<div class="sf-feed-wrap">
  <div class="feed-attach-wrap">
    <img src="images/demo.jpg" class="img-responsive">
  </div>
  <div class="feed-content-wrap">
    <div class="feed-author-wrap">
      <div class="feed-author-top">
        <a href="#">
          <img src="images/default.jpg" class="img-responsive img-circle">
        </a>
        <div class="feed-author-info">
          <div class="author-name">
            <a href="#">Nicholas</a>
          </div>
          <div class="feed-time">
            11-06 12:13
          </div>
        </div>
      </div>
    </div>
    <div class="feed-content">
      <p>Grizzly Bear is an American indie rock band from Brooklyn, New York,
      formed in 2002. The band consists of Edward Droste, Daniel Rossen,
      Chris Taylor and Christopher Bear.</p>
    </div>
    <div class="feed-action-wrap">
      <ul class="list-inline">
        <li>
          <a href="#"><i class="fa fa-heart-o"></i></a>
          <span class="feed-count">123</span>
        </li>
        <li>
          <a href="#"><i class="fa fa-comment-o"></i></a>
          <span class="feed-count">23</span>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="sf-feed-wrap">
  <div class="feed-content-wrap">
    <div class="feed-author-wrap">
      <div class="feed-author-top">
        <a href="#">
          <img src="images/default.jpg" class="img-responsive img-circle">
        </a>
        <div class="feed-author-info">
          <div class="author-name">
            <a href="#">Nicholas</a>
          </div>
          <div class="feed-time">
            11-06 12:13
          </div>
        </div>
      </div>
    </div>
    <div class="feed-content">
      <p>Grizzly Bear is an American indie rock band from Brooklyn, New York,
      formed in 2002. The band consists of Edward Droste, Daniel Rossen,
      Chris Taylor and Christopher Bear.</p>
    </div>
    <div class="feed-action-wrap">
      <ul class="list-inline">
        <li>
          <a href="#"><i class="fa fa-heart-o"></i></a>
          <span class="feed-count">123</span>
        </li>
        <li>
          <a href="#"><i class="fa fa-comment-o"></i></a>
          <span class="feed-count">23</span>
        </li>
      </ul>
    </div>
  </div>
</div>