<div ng-repeat="feed in feeds">
  <div class="sf-feed-wrap" ng-click="goToFeedDetail($index)">
    <div class="feed-attach-wrap" ng-if="feed.feed.photo">
      <img ng-src="{{feed.feed.photo.url}}" class="img-responsive">
    </div>
    <div class="feed-content-wrap">
      <div class="feed-author-wrap">
        <div class="feed-author-top">
          <a href="#/user/{{feed.author.objectId}}">
            <img src="images/default.jpg" class="img-responsive img-circle">
          </a>
          <div class="feed-author-info">
            <div class="author-name">
              <a href="#">{{feed.author.username}}</a>
            </div>
            <div class="feed-time">
              {{feed.feed.createdAt | date: 'MM-dd hh:ss'}}
            </div>
          </div>
        </div>
      </div>
      <div class="feed-content">
        <p>{{feed.feed.content}}</p>
      </div>
      <div class="feed-action-wrap">
        <ul class="list-inline">
          <li>
            <a href="#"><i class="fa fa-heart-o"></i></a>
            <span class="feed-count">123</span>
          </li>
          <li>
            <a href="#"><i class="fa fa-comment-o"></i></a>
            <span class="feed-count">23</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>