<div class="feed-detail-content">
  <div class="detail-author-wrap">
    <div class="detail-author-top">
      <a>
        <img ng-src="{{feed.author.avatar}}" class="img-responsive img-circle">
      </a>
      <div class="detail-author-info">
        <div class="author-name">
          <a ui-sref="user({name: feed.author.username})">{{feed.author.username}}</a>
        </div>
        <div class="feed-time">
          {{feed.createdAt | date: 'MM-dd hh:ss'}}
        </div>
      </div>
      <button class="btn btn-success follow-btn" ng-if="(user._id !== feed.author._id) && (user.followers.indexOf(feed.author._id) === -1)" ng-click="submitFollow(feed)">加入关注</button>
      <button class="btn btn-danger follow-btn" ng-if="(user._id !== feed.author._id) && (user.followers.indexOf(feed.author._id) !== -1)" ng-click="submitUnfollow(feed)">取消关注</button>
    </div>
  </div>
  <div class="feed-content">
    <p>{{feed.content}}</p>
  </div>
  <div ng-if="feed.attachment.type && feed.attachment.type==='image'" class="detail-attachment-wrap">
    <a imgurl="{{feed.attachment.url}}" title="{{feed.attachment.name}}" fancy-box>
      <img ng-src="{{feed.attachment.url}}" class="img-responsive img-rounded">
    </a>
  </div>
  <div class="feed-attach-wrap" ng-if="feed.attachment.type && feed.attachment.type==='video'">
    <videogular vg-theme="feed.attachment.config.theme">
      <vg-video vg-src="feed.attachment.config.sources">
      </vg-video>
      <vg-controls>
        <vg-play-pause-button></vg-play-pause-button>
        <vg-timedisplay>{{ currentTime | date:'mm:ss' }}</vg-timedisplay>
        <vg-scrubBar>
          <vg-scrubbarcurrenttime></vg-scrubbarcurrenttime>
        </vg-scrubBar>
        <vg-timedisplay>{{ timeLeft | date:'mm:ss' }}</vg-timedisplay>
        <vg-volume>
          <vg-mutebutton></vg-mutebutton>
          <vg-volumebar></vg-volumebar>
        </vg-volume>
        <vg-fullscreenButton></vg-fullscreenButton>
      </vg-controls>
      <vg-overlay-play></vg-overlay-play>
      <vg-poster-image vg-url='feed.attachment.config.plugins.poster'></vg-poster-image>
    </videogular>
  </div>
  <div class="feed-attach-wrap" ng-if="feed.attachment.type && feed.attachment.type==='audio'">
    <videogular vg-theme="feed.attachment.config.theme.url" class="videogular-container audio">
      <div class="audio-poster">
        <div class="audio-info">
          <div class="audio-singer-name">
            {{feed.attachment.name}}
          </div>
        </div>
      </div>
      <vg-audio vg-src="feed.attachment.config.sources">
      </vg-audio>
      <vg-controls>
        <vg-play-pause-button></vg-play-pause-button>
        <vg-timedisplay>{{ currentTime | date:'mm:ss' }}</vg-timedisplay>
        <vg-scrubBar>
          <vg-scrubbarcurrenttime></vg-scrubbarcurrenttime>
        </vg-scrubBar>
        <vg-timedisplay>{{ timeLeft | date:'mm:ss' }}</vg-timedisplay>
        <vg-volume>
          <vg-mutebutton></vg-mutebutton>
          <vg-volumebar></vg-volumebar>
        </vg-volume>
        <vg-fullscreenButton></vg-fullscreenButton>
      </vg-controls>
    </videogular>
  </div>
  <div class="feed-action-wrap">
    <ul class="list-inline likes-action-wrap">
      <li>
        <a class="icon-heart" ng-click="submitLike(feed)" ng-if="likeusers.indexOf(user._id) === -1"><span>{{likeusers.length}}</span></a>
        <a class="icon-heart has-liked" ng-click="submitUnlike(feed)" ng-if="likeusers.indexOf(user._id) !== -1"><span>{{likeusers.length}}</span></a>
      </li>
      <li class="comment-action">
        <a class="icon-speech-bubble" ng-click="addComment()" sftitle="添加评论" data-toggle="tooltip" data-placement="top" sf-tooltip><span>{{feed.comments.length}}</span></a>
      </li>
      <li class="pull-right">
        <ul class="list-inline likes-wrap" ng-if="feed.likes.length > 0">
          <li ng-repeat="like in feed.likes" class="like-users">
            <a ui-sref="user({name: like.username})" sftitle="{{like.username}}" data-toggle="tooltip" data-placement="top" sf-tooltip>
              <img ng-src="{{like.avatar}}" class="img-responsive img-rounded">
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="feed-comment-wrap">
    <div class="media" ng-repeat="comment in feed.comments">
      <a class="media-left" ui-sref="user({name: comment.author.username})">
        <img ng-src="{{comment.author.avatar}}" alt="{{comment.author.username}}" class="img-responsive img-circle">
      </a>
      <div class="media-body">
        <h4 class="media-heading">{{comment.author.username}}</h4>
        <div class="comment-content">
          <a ui-sref="user({name: comment.touser.username})">@{{comment.touser.username}}</a>{{comment.content}}
        </div>
        <div class="comment-bottom">
          <a ng-click="addComment(comment)" class="icon-reply" sftitle="回复"
          data-toggle="tooltip" sf-tooltip></a>
          <i class="icon-clock"></i><span class="comment-time">{{comment.createdAt | date: 'MM:dd hh:mm'}}</span>
        </div>
      </div>
    </div>
  </div>
</div>