<div class="sf-feed" masonry masonry-options="{itemSelector: '.feeditem'}">
  <div ng-repeat="feed in feeds" class="feeditem masonry-brick">
    <div class="sf-feed-wrap">
      <div class="feed-content-wrap">
        <div class="feed-author-wrap">
          <div class="feed-author-top">
            <a data-toggle="modal" data-target="#{{feed.author._id}}"><img ng-src="{{feed.author.avatar}}" class="img-responsive img-circle author-avatar">
            </a>
            <div class="modal fade" id="{{feed.author._id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{feed.author.username}} 的个人资料</h4>
                  </div>
                  <div class="modal-body author-info-body">
                    <div class="modal-banner">
                      <img ng-src="{{feed.author.banner}}" class="img-responsive">
                    </div>
                    <button class="btn btn-primary follow-btn" ng-click="submitFollow(feed)" ng-if="(user._id !== feed.author._id) && (user.followers.indexOf(feed.author._id) === -1)">加入关注</button>
                    <button class="btn btn-danger follow-btn" ng-click="submitUnfollow(feed)" ng-if="(user._id !== feed.author._id) && (user.followers.indexOf(feed.author._id) !== -1)">取消关注</button>
                    <div class="modal-info-content">
                      <div class="modal-author">
                        <img ng-src="{{feed.author.avatar}}" class="img-responsive img-circle">
                        <div class="modal-author-name">
                          <h5>{{feed.author.username}}</h5>
                          <div class="author-gender-location">
                            <i class="icon-head"></i><span>{{feed.author.gender}}</span>
                            <i class="icon-map-marker"></i><span>{{feed.author.location}}</span>
                          </div>
                        </div>
                      </div>
                      <div class="author-profile">
                        {{feed.author.profile}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="feed-author-info">
              <div class="author-name">
                <a ui-sref="user({name: feed.author.username})">{{feed.author.username}}</a>
              </div>
              <div class="feed-time">
                <i class="icon-clock"></i><span>{{feed.createdAt | date: 'MM-dd hh:ss'}}</span>
                <a ng-click="" ng-if="feed.location"><i class="icon-map-marker"></i><span>{{feed.location}}</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="feed-content">
          <p>{{feed.content}}</p>
        </div>
        <div class="feed-attach-wrap" ng-if="feed.attachment.type && feed.attachment.type==='image'">
          <a imgurl="{{feed.attachment.url}}" class="fancybox" title="{{feed.attachment.name}}" fancy-box>
            <img ng-src="{{feed.attachment.url}}" class="img-responsive">
          </a>
        </div>
        <div class="feed-attach-wrap" ng-if="feed.attachment.type && feed.attachment.type==='video'">
          <videogular vg-theme="feed.attachment.config.theme">
            <vg-video vg-src="feed.attachment.config.sources">
            </vg-video>
            <vg-controls>
              <vg-play-pause-button></vg-play-pause-button>
              <vg-timedisplay>{{ currentTime | date:'mm:ss' }}</vg-timedisplay>
              <vg-scrubBar>
                <vg-scrubbarcurrenttime></vg-scrubbarcurrenttime>
              </vg-scrubBar>
              <vg-timedisplay>{{ timeLeft | date:'mm:ss' }}</vg-timedisplay>
              <vg-volume>
                <vg-mutebutton></vg-mutebutton>
                <vg-volumebar></vg-volumebar>
              </vg-volume>
              <vg-fullscreenButton></vg-fullscreenButton>
            </vg-controls>
            <vg-overlay-play></vg-overlay-play>
            <vg-poster-image vg-url='feed.attachment.config.plugins.poster'></vg-poster-image>
          </videogular>
        </div>
        <div class="feed-attach-wrap" ng-if="feed.attachment.type && feed.attachment.type==='audio'">
          <videogular vg-theme="feed.attachment.config.theme.url" class="videogular-container audio">
            <div class="audio-poster">
              <div class="audio-info">
                <div class="audio-singer-name">
                  {{feed.attachment.name}}
                </div>
              </div>
            </div>
            <vg-audio vg-src="feed.attachment.config.sources">
            </vg-audio>
            <vg-controls>
              <vg-play-pause-button></vg-play-pause-button>
              <vg-timedisplay>{{ currentTime | date:'mm:ss' }}</vg-timedisplay>
              <vg-scrubBar>
                <vg-scrubbarcurrenttime></vg-scrubbarcurrenttime>
              </vg-scrubBar>
              <vg-timedisplay>{{ timeLeft | date:'mm:ss' }}</vg-timedisplay>
              <vg-volume>
                <vg-mutebutton></vg-mutebutton>
                <vg-volumebar></vg-volumebar>
              </vg-volume>
              <vg-fullscreenButton></vg-fullscreenButton>
            </vg-controls>
          </videogular>
        </div>
        <div class="normalfeed-action-wrap">
          <ul class="list-inline">
            <li>
              <a ng-click="submitLike(feed)" ng-if="feed.likes.indexOf(user._id) === -1"><i class="icon-heart"></i>{{feed.likes.length}}</a>
              <a ng-click="submitUnlike(feed)" ng-if="feed.likes.indexOf(user._id) !== -1"><i class="icon-heart has-liked"></i>{{feed.likes.length}}</a>
            </li>
            <li>
              <a ui-sref="feeddetail({id: feed._id})"><i class="icon-speech-bubble"></i>{{feed.comments.length}}</a>
            </li>
            <li class="pull-right detail-list-item">
              <a ui-sref="feeddetail({id: feed._id})" sftitle="查看详情" data-toggle="tooltip" data-placement="top" sf-tooltip class="feed-detail-link icon-eye"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="feeditem-sizer"></div>
</div>
