<nav class="navbar navbar-default navbar-fixed-top" id="sf-navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand sidebar-toggle" ng-click="showUserInfo()">
        <span class="icon-menu"></span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-main">
        <li><a ui-sref="home">HOME</a>
        </li>
        <li><a ui-sref="user.gallery({name: user.username})">GALLERY</a>
        </li>
        <li>
          <a ui-sref="messages">MESSAGES <span class="badge badge-not-zero" ng-if="user.notification.length">{{user.notification.length}}</span></a>
        </li>
      </ul>
      <form id="search-query-form" class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </form>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
