<div class="panel panel-default">
  <div class="panel-heading">
    <h4>设置个人信息</h4>
  </div>
  <div class="panel-body setting-list-body">
    <ul class="list-unstyled">
      <li>
        <a ui-sref="settings.profile">个人资料<i class="fa fa-arrow-right"></i></a>
      </li>
      <li>
        <a ui-sref="settings.avatar">上传头像<i class="fa fa-arrow-right"></i></a>
      </li>
      <li>
        <a ui-sref="settings.banner">横幅图片<i class="fa fa-arrow-right"></i></a>
      </li>
    </ul>
  </div>
</div>