<div class="profile-wrap panel panel-default">
  <div class="panel-heading">
    <h4>帐号信息设置</h4>
  </div>
  <div class="panel-body">
    <div class="form-wrap">
      <form role="form" class="form-horizontal" name="updateForm" ng-submit="submitUpdate(updateUser)">
        <div class="form-group">
          <label for="username" class="col-sm-2 control-label">Username:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="username"
            value={{user.username}} readonly="readonly">
            <p class="help-block">Username cannot set!</p>
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-2 control-label">Email:</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="email"
            value={{user.email}} readonly="readonly">
            <p class="help-block">Email cannot set, we don't spam!</p>
          </div>
        </div>
        <div class="form-group">
          <label for="gender" class="col-sm-2 control-label">Gender:</label>
          <div class="col-sm-10">
            <div class="radio">
              <label>
                <input type="radio" value="Male" ng-model="updateUser.gender"
                ng-checked="user.gender === 'Male'">male
              </label>
              <label>
                <input type="radio" value="Female" ng-model="updateUser.gender"
                ng-checked="user.gender === 'Female'">female
              </label>
              <label>
                <input type="radio" value="Secret" ng-model="updateUser.gender"
                ng-checked="user.gender === 'Secret'">secret
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="location" class="col-sm-2 control-label">Location:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="location" ng-model="updateUser.location"
            placeholder="{{user.location}}" ng-maxlength="20">
            <p class="help-block">Tell us where you are!</p>
          </div>
        </div>
        <div class="form-group">
          <label for="profile" class="col-sm-2 control-label">Profile:</label>
          <div class="col-sm-10">
            <textarea id="profile" class="form-control" rows="4" ng-model="updateUser.profile"
            placeholder="{{user.profile}}" ng-maxlength="100"></textarea>
            <p class="help-block">Make us know more about you!</p>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-info">submit</button>
            <span class="td-success">{{successMessage}}</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
