<div class="timeline-item-container" ng-repeat="feed in feeds">
  <div class="timeline-top-icon">
    <span class="icon-image" ng-if="feed.attachment.type==='image'"></span>
    <span class="icon-paper" ng-if="!feed.attachment"></span>
  </div>
  <div class="line"></div>
  <div class="timeline-grid">
    <div class="timeline-attachment" ng-if="feed.attachment">
      <img ng-src="{{feed.attachment.url}}" class="img-responsive">
    </div>
    <div class="caption">
      <h2>{{feed.createdAt | date: 'MMMM dd, yyyy'}}</h2>
        <p class="icon-links">
          <a href="#"><span class="icon-eye"></span></a>
          <a href="#"><span class="icon-speech-bubble"></span></a>
          <a href="#"><span class="icon-heart"></span></a>
        </p>
      <p class="content">{{feed.content}}</p>
    </div>
  </div>
</div>
