<div ng-repeat="feed in feeds">
  <div class="sf-feed-wrap">
    <div class="feed-content-wrap">
      <div class="feed-author-wrap">
        <div class="feed-author-top">
          <a data-toggle="modal" data-target="#{{feed.author._id}}"><img ng-src="{{feed.author.avatar}}" class="img-responsive img-circle"></a>
          <div class="modal fade show-user-profile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="{{feed.author._id}}">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="myModalLabel">{{feed.author.username}}的个人资料</h4>
                </div>
                <div class="modal-body">
                  <div class="show-profile-banner">
                    <img ng-src="{{feed.author.banner}}">
                  </div>
                  <div class="show-profile-avatar">
                    <img ng-src="{{feed.author.avatar}}" class="img-responsive img-rounded">
                    <div class="show-user-follow">
                      <ul class="list-inline">
                        <li>
                            <a ui-sref="user.followers({name: feed.author.username})">
                              <span class="user-feed-title">followers</span>
                              <span class="user-feed-count">{{feed.author.followers.length}}</span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="user.followings({name: feed.author.username})">
                            <span class="user-feed-title">following</span>
                            <span class="user-feed-count">{{feed.author.followings.length}}</span>
                            </a>
                        </li>
                      </ul>
                    </div>
                    <button class="btn btn-success" ng-if="(user._id !== feed.author._id) && (user.followers.indexOf(feed.author._id) === -1)" ng-click="submitFollow(feed)">加入关注</button>
                    <button class="btn btn-danger" ng-if="(user._id !== feed.author._id) && (user.followers.indexOf(feed.author._id) !== -1)" ng-click="submitUnfollow(feed)">取消关注</button>
                  </div>
                  <div class="show-user-info">
                    <h3><a ui-sref="user({name: feed.author.username})">{{feed.author.username}}</a></h3>
                    <p class="show-user-profile">{{feed.author.profile}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="feed-author-info">
            <div class="author-name">
              <a ui-sref="user({name: feed.author.username})">{{feed.author.username}}</a>
            </div>
            <div class="feed-time">
              {{feed.createdAt | date: 'MM-dd hh:ss'}}
            </div>
          </div>
        </div>
      </div>
      <div class="feed-content">
        <p>{{feed.content}}</p>
      </div>
      <div class="feed-attach-wrap" ng-if="feed.attachment.type && feed.attachment.type==='image'">
        <img ng-src="{{feed.attachment.url}}" class="img-responsive">
      </div>
      <div class="normalfeed-action-wrap">
        <ul class="list-inline">
          <li>
            <a class="btn btn-default" ng-click="submitLike(feed)" ng-if="feed.likes.indexOf(user._id) === -1"><span class="feed-count">+{{feed.likes.length}}</span></a>
            <a class="btn btn-danger" ng-click="submitUnlike(feed)" ng-if="feed.likes.indexOf(user._id) !== -1"><span class="feed-count">+{{feed.likes.length}}</span></a>

          </li>
          <li>
            <a class="btn btn-default" ui-sref="feeddetail({id: feed._id})"><i class="fa fa-comment"></i><span class="feed-count">{{feed.comments.length}}</span></a>
          </li>
          <li>
            <a ui-sref="feeddetail({id: feed._id})" class="sf-feed-wrap-link">详情</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>