<div ng-repeat="feed in feeds">
  <div class="sf-feed-wrap sf-user-feed-item" ng-click="goToFeedDetail($index)">
    <div class="feed-content-wrap">
      <div class="feed-author-wrap">
        <div class="feed-author-top">
          <a ng-click="showUserProfile($index)">
            <img ng-src="{{feed.author.avatar}}" class="img-responsive img-circle">
          </a>
          <div class="feed-author-info">
            <div class="author-name">
              <a ui-sref="user({name: feed.author.username})">{{feed.author.username}}</a>
            </div>
            <div class="feed-time">
              {{feed.createdAt | date: 'MM-dd hh:ss'}}
            </div>
          </div>
        </div>
      </div>
      <div class="feed-content">
        <p>{{feed.content}}</p>
      </div>
      <div class="user-feed-attach-wrap" ng-if="feed.attachment.type && feed.attachment.type==='image'">
        <img ng-src="{{feed.attachment.url}}" class="img-responsive img-rounded">
      </div>
      <div class="feed-action-wrap">
        <ul class="list-inline">
          <li>
            <a href="#"><i class="fa fa-heart-o"></i></a>
            <span class="feed-count">{{feed.likes.length}}</span>
          </li>
          <li>
            <a href="#"><i class="fa fa-comment-o"></i></a>
            <span class="feed-count">{{feed.comments.length}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>