<!DOCTYPE html>
<html ng-app="showfieApp">
<head>
  <title>Showfie</title>
  <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="lib/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="lib/animate-css/animate.min.css">
  <!-- custom style here -->
  <link rel="stylesheet" type="text/css" href="css/custom.css">
</head>
<body>
  <div ui-view></div>

  <script src="lib/angular/angular.js"></script>
  <script src="lib/jquery/dist/jquery.js"></script>
  <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services/services.js"></script>
  <script src="js/services/user_service.js"></script>
  <script src="js/controllers/controllers.js"></script>
  <script src="js/controllers/welcome_controller.js"></script>
  <script src="js/controllers/login_controller.js"></script>
  <script src="js/controllers/forgetpass_controller.js"></script>
  <script src="js/controllers/home_controller.js"></script>
</body>
</html>