<!DOCTYPE html>
<html ng-app="showfieApp">
<head>
  <title>Showfie</title>
  <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="lib/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="lib/animate-css/animate.min.css">
  <link rel="stylesheet" type="text/css" href="lib/ngDialog/css/ngDialog.css">
  <link rel="stylesheet" type="text/css" href="lib/ngDialog/css/ngDialog-theme-default.css">
  <link rel="stylesheet" type="text/css" href="lib/angular-loading-bar/build/loading-bar.css">

  <!-- <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'> -->
  <!-- custom style here -->
  <link rel="stylesheet" type="text/css" href="css/jquery.fancybox.css">
  <link rel="stylesheet" type="text/css" href="css/icomoon.css">
  <link rel="stylesheet" type="text/css" href="css/custom.css">
</head>
<body>
  <div ui-view></div>

  <script src="lib/jquery/dist/jquery.js"></script>
  <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
  <script src="lib/fancybox/jquery.fancybox.js"></script>
  <script src="lib/eventEmitter/EventEmitter.js"></script>
  <script src="lib/eventie/eventie.js"></script>
  <script src="lib/doc-ready/doc-ready.js"></script>
  <script src="lib/get-style-property/get-style-property.js"></script>
  <script src="lib/get-size/get-size.js"></script>
  <script src="lib/jquery-bridget/jquery.bridget.js"></script>
  <script src="lib/matches-selector/matches-selector.js"></script>
  <script src="lib/outlayer/item.js"></script>
  <script src="lib/outlayer/outlayer.js"></script>
  <script src="lib/masonry/dist/masonry.pkgd.js"></script>
  <script src="lib/imagesloaded/imagesloaded.pkgd.js"></script>

  <script src="lib/scrollReveal.js/scrollReveal.js"></script>
  <script src="lib/ng-file-upload/angular-file-upload-shim.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-sanitize/angular-sanitize.js"></script>
  <script src="lib/videogular/videogular.js"></script>
  <script src="lib/videogular-controls/controls.js"></script>
  <script src="lib/videogular-poster/poster.js"></script>
  <script src="lib/ng-file-upload/angular-file-upload.js"></script>
  <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="lib/angular-animate/angular-animate.js"></script>
  <script src="lib/angular-loading-bar/build/loading-bar.js"></script>
  <script src="lib/ngDialog/js/ngDialog.js"></script>
  <script src="lib/angular-masonry/angular-masonry.js"></script>
  <script src="lib/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services/services.js"></script>
  <script src="js/directives/directives.js"></script>
  <script src="js/controllers/controllers.js"></script>
  <script src="js/services/user_service.js"></script>
  <script src="js/services/feed_service.js"></script>
  <script src="js/controllers/welcome_controller.js"></script>
  <script src="js/controllers/logout_controller.js"></script>
  <script src="js/controllers/login_controller.js"></script>
  <script src="js/controllers/forgetpass_controller.js"></script>
  <script src="js/controllers/home_controller.js"></script>
  <script src="js/controllers/create_controller.js"></script>
  <script src="js/controllers/setting_controller.js"></script>
  <script src="js/controllers/setprofile_controller.js"></script>
  <script src="js/controllers/setavatar_controller.js"></script>
  <script src="js/controllers/setbanner_controller.js"></script>
  <script src="js/controllers/user_controller.js"></script>
  <script src="js/controllers/gallery_controller.js"></script>
  <script src="js/controllers/messages_controller.js"></script>
  <script src="js/controllers/follower_controller.js"></script>
  <script src="js/controllers/following_controller.js"></script>
  <script src="js/controllers/feeddetail_controller.js"></script>
</body>
</html>